{% extends 'base.html.twig' %}
{% block title %}All programs in category
{% endblock %}

{% block body %}
    <h1>{{ actor.name }}</h1>
    <p>A joué dans: </p>
    <ul>
        {% for program in actor.programs %}
            <li><a href="{{ path('program_show', {id: program.id}) }}">{{ program.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
