@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

$primary-color: #db202c;
$secondary-color: #020202;
$title-font-primary: "Bebas Neue", cursive;
$title-font-secondary: "Aladin", cursive;;

body {
    background-color: $secondary-color;
    color: whitesmoke;
}

.navbar {
    height: 90px;
}

.logo {
    width: 64px;
    height: 82px;
    margin-right: 19px;
}

.navbar-brand {
    img {
        width: 175px;
        height: 39px;
    }
}

.navbar-collapse {
    justify-content: flex-end;
}

.nav-link {
    margin-right: 5px;
    .svg-navbar {
        margin-right: 5px;
        margin-bottom: 5px;
        width: 20px;
    }
}

.poster {
    width: 15%;
}

h1 {
    font-family: $title-font-primary;
}

h2,
h3,
h4,
h5 {
    font-family: $title-font-secondary;
}

.card{
    background-color: $secondary-color;
    border: 1px white solid;
    border-radius: 15px;
    padding: 5px;
}